# importing the dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#load the datasets to a pandas dataframe
credit_card_data=pd.read_csv("creditcard.csv")

In [8]:
#first five rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [10]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
#distribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

# this dataset is highly unbalanced
### 0--->normal transactions
### 1--->fraudulent transactions

In [14]:
#seperating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [15]:
print(legit.shape)

(284315, 31)

In [16]:
print(fraud.shape)

(492, 31)

In [17]:
#statistical measures of data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Under-sampling
#### Build a sample dataset containing similar distribution of normal transactions and fraudulent transactions
#### Number of fraudulent transactions--->492

In [22]:
legit_sample=legit.sample(n=492)

## concatinating two dataframes

In [23]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
134439,80808.0,0.188934,-0.191152,1.177766,-1.737148,-0.685073,-0.311609,-0.315737,-0.181268,-2.597333,...,-0.180282,-0.063714,-0.191446,-0.446122,0.021327,-0.097002,0.082897,0.028367,10.00,0
1067,811.0,-0.469973,0.978662,1.661301,-0.096693,-0.155465,-0.689536,0.598223,0.084407,-0.621859,...,-0.165618,-0.470747,-0.000650,0.507261,-0.261582,0.042105,0.259007,0.112246,5.35,0
175449,122343.0,-0.065842,1.782551,0.816343,3.926691,1.586701,1.112912,1.345152,-0.535787,-1.169793,...,-0.471287,-0.519794,-0.054304,-0.021680,-0.788255,-0.028983,0.188651,-0.257805,9.81,0
190594,128896.0,1.950719,-0.140097,-0.076661,1.255495,-0.653470,-0.469433,-0.573813,0.026349,0.946245,...,-0.005917,0.032758,0.336453,-0.166697,-0.420303,-0.840809,0.061347,-0.024055,4.00,0
265408,161872.0,-0.922864,0.570078,-1.477215,-4.964819,2.663264,2.534239,0.378925,1.212443,0.939050,...,-0.168783,-0.556218,-0.147502,0.660820,0.389573,-1.250596,0.251390,0.111648,2.35,0

In [25]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [29]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [30]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94253.044715,-0.011341,-0.029436,0.024650,-0.006938,0.012023,-0.019753,-0.079568,-0.030095,0.053701,...,-0.079990,-0.055355,0.057755,0.014521,-0.019504,-0.006062,-0.006354,-0.003629,0.018922,70.854634
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## splitting data into features and targets

In [31]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [32]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
134439   80808.0  0.188934 -0.191152  1.177766 -1.737148 -0.685073 -0.311609
1067       811.0 -0.469973  0.978662  1.661301 -0.096693 -0.155465 -0.689536
175449  122343.0 -0.065842  1.782551  0.816343  3.926691  1.586701  1.112912
190594  128896.0  1.950719 -0.140097 -0.076661  1.255495 -0.653470 -0.469433
265408  161872.0 -0.922864  0.570078 -1.477215 -4.964819  2.663264  2.534239
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
134439 -0.315737 -0.181268 -2.597333  ... -0.091698 -0.180282 -0.063714
1067    0.598223  0.084407 -0.621859  ...  0.084527 -0.165618 -0.470747
175449  1.345152 -0.535787 -1.169793  ...  0.792255 -0.471287 -0.519794
190594 -0.573813  0.026349  0.946245  ... -0.289104 -0.005917  0.032758
265408  0.378925  1.212443  0.939050  ... -0.175085 -0.168783 -0.556218
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
134439 -0.191446 -0.446122  0.021327 -0.097002  0.082897  0.028367   10.00
1067   -0.000650  0.507261 -0.261582  0.042105  0.259007  0.112246    5.35
175449 -0.054304 -0.021680 -0.788255 -0.028983  0.188651 -0.257805    9.81
190594  0.336453 -0.166697 -0.420303 -0.840809  0.061347 -0.024055    4.00
265408 -0.147502  0.660820  0.389573 -1.250596  0.251390  0.111648    2.35
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(Y)

134439    0
1067      0
175449    0
190594    0
265408    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

####  split the data into training and testing

In [34]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [36]:
print(X_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
70052    53685.0 -15.065822 -8.121647  -6.845573  4.297232  -2.850941
240664  150699.0   2.065825 -0.070929  -1.490619  0.141985   0.238024
278779  168428.0   2.256505 -1.397787  -1.023714 -1.679653  -1.075999
101195   67755.0  -6.450352  0.860076  -0.866844 -3.955816  -2.544581
...          ...        ...       ...        ...       ...        ...
101375   67812.0  -1.712836 -1.298672   0.752535 -0.979849  -1.791212
127467   78340.0  -0.814682  1.319219   1.329415  0.027273  -0.284871
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
74031    55395.0   1.130301  0.284220  -0.187061  1.222491   0.153243

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
70052  -0.509851   0.358817  1.747026  0.393492  ... -6.423727 -1.580850
240664 -0.777058   0.133500 -0.219728  0.394480  ... -0.231163  0.263189
278779 -0.299674  -1.182048 -0.024603 -1.448829  ... -0.439514 -0.119964
101195 -0.620982  -0.122621 -4.242552  3.652305  ...  0.157077 -1.750862
...          ...        ...       ...       ...  ...       ...       ...
101375 -0.518499  -1.744188  0.960977 -2.235094  ... -0.325009  0.216918
127467 -0.653985   0.321552  0.435975 -0.704298  ... -0.009041 -0.128619
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
74031  -0.684568   0.518056 -0.201950 -0.292445  ... -0.109229  0.056204

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
70052   0.439610 -0.422592  0.231101 -0.128151 -0.336431  0.289486 -3.721650
240664  0.887676 -0.068831 -0.459815  0.296406 -0.097962 -0.024969 -0.074114
278779  0.097080  0.268040  0.675381 -0.211835 -0.209664  0.000672 -0.055617
101195 -0.085135 -0.204267  0.700128  0.816141 -1.061415 -0.638739  1.299987
...          ...       ...       ...       ...       ...       ...       ...
101375  0.442675 -0.115468  0.068500 -0.728846 -0.039737 -0.078121 -0.190248
127467 -0.368565  0.090660  0.401147 -0.261034  0.080621  0.162427  0.059456
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
74031   0.113401 -0.153481  0.085524  0.740926 -0.255058 -0.005198  0.015761

        Amount
100623  549.06
70052     9.00
240664    0.89
278779   15.00
101195  169.99
...        ...
101375   78.00
127467    1.98
223618    1.00
43061    34.12
74031    52.90

[787 rows x 30 columns]

In [40]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

# model training
### logistic regression

In [41]:
model=LogisticRegression()

In [42]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression()

# model evaluation
 accuracy score

In [44]:
# accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [45]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.9123252858958069

In [46]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [47]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9086294416243654